<div class="container mt-4">
    <h1>Admin Dashboard</h1>
    <div *ngIf="users.length">
      <h3>Users with plans expiring soon:</h3>
      <ul>
        <li *ngFor="let user of users">
          {{ user.name }} - {{ user.planName }} - Expires on {{ user.expiryDate | date }}
          <button class="btn btn-info btn-sm ml-2" (click)="viewHistory(user.id)">View History</button>
        </li>
      </ul>
    </div>
    <div *ngIf="!users.length">
      <p>No users with expiring plans.</p>
    </div>
  </div>
  